[Unit]
Description=GFT Usher - Sync Shifts

[Service]
Type=oneshot
User=gft
Group=gft
WorkingDirectory=/opt/gft-usher-tools
ExecStart=/home/gft/.bun/bin/bun run src/server/sync-cli.ts shifts
